<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div id="container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/hobby">Hobby</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
			<main>
				<div class="about-content">
          <h1>About Me</h1>
					<div class="img-content">
						<img class="about-img-container box-shadow" src="/img/about1.png" alt="about1">
						<img class="about-img-container box-shadow" src="/img/about2.png" alt="about2">
					</div>
					<p>As you know my name is The Great Momo.</p>
          <p>I am 6 months old and right now i am staying with my Human who i love but i am in control.</p>
          <p>I am a british shorthair breed and i am cute AF. I am going to rule this planet so come with me in my Space Ship and watch Tom & Jerry !</p>
				</div>
			</main>
    </div>
  </body>
</html>
