<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hobbies</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div id="container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/hobby">Hobby</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
      <main>
          <h1 class="hobby-title">My Hobbies</h1>
          <div class="hobbies-content">
            <div class="each-container">
              <img class="img-container box-shadow" src="/img/hobby1.png" alt="hobby1">
              <p>Stay with my human</p>
          </div>
          <div class="each-container">
              <img class="img-container box-shadow" src="/img/hobby2.png" alt="hubby2">
              <p>Climb high as I can</p>
          </div>
          <div class="each-container">
              <img class="img-container box-shadow" src="/img/hobby3.png" alt="hubby3">
              <p>Play hide and seek</p>
          </div>
          <div class="each-container">
              <img class="img-container box-shadow" src="/img/hobby4.png" alt="hubby4">
              <p>Sleep everywhere</p>
          </div>
          </div>
      </main>
    </div>
  </body>
</html>
