<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div id="container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/hobby">Hobby</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
      <main>
          <div class="home-content">
                <h1>Meowwwwww!</h1>
              <img class="profile-img box-shadow" src="/img/profile-momo.png" alt="profile-momo">
              <h1>Hi! My name is Momo!</h1>
              <p>As you can see I am a human but people think i am a cat, i don know why.</p>
          </div>
      </main>
    </div>
  </body>
</html>
